/*@import '@nebular/theme/styles/theming';*/

.main-bg,
.main-bg > *,
::ng-deep .main-bg nav {
  background-color: rgba(51, 102, 255, 0.08) !important;
}

.header {
  color: white !important;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.toggle-button {
  position: absolute;
  top: 0;
  left: 5%;
}

.toggle-icon {
  font-size: 32px;
  margin: 0;
  padding: 0;
}

.menu {
  margin-top: 20px;
}

.sidebar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.footer {
}
